<section class="auth-screen">
  <div class="auth-card">
    <h2>Вход</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="fill" class="w-100">
          <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Пароль</mat-label>
        <input matInput formControlName="password" type="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Войти
      </button>
    </form>
        <p class="mt-2">
      Нет аккаунта?
      <a routerLink="/auth/register">Зарегистрироваться</a>
    </p>
  </div>
</section>
