<div class="folder-sidebar-container" [class.hidden]="hidden">
  <button class="toggle-btn" (click)="toggleBar()">
    {{ hidden ? 'Show ❯' : '❮ Hide' }}
  </button>

  <div class="folder-sidebar">
    <div class="folder-sidebar__header">
      Folders
    </div>
    <ul class="root-folder-tree">
      <li
        *ngFor="let folder of foldersTree"
        app-folder-node
        [folder]="folder"
        [level]="0"
        [selectedFolderId]="selectedFolder?.id"
        [hoveredId]="hoveredId"
        (hoverIn)="onHover($event)"
        (hoverOut)="onHoverOut()"
        (folderSelected)="onFolderSelect($event)"
        (actionAdd)="onAdd($event)"
        (actionEdit)="onEdit($event)"
        (actionDelete)="onDelete($event)">
      </li>
    </ul>
  </div>
</div>
