<div class="modal-header">
  <h5 class="modal-title">{{ actionType }}</h5>
  <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <ng-container *ngFor="let config of formFieldSchema">
      <label [for]="config.key">{{ config.label }}</label>
      <input
        [id]="config.key"
        [formControlName]="config.key"
        [placeholder]="config.placeholder"
        type="text"
        class="form-control mb-2"
        />
    </ng-container>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" (click)="modal.dismiss()">Отмена</button>
  <button class="btn btn-primary" [disabled]="form.invalid" (click)="submit()">Добавить</button>
</div>
