<section class="auth-scree">
  <div class="auth-card fade-in">
    <h1 class="auth-title">Регистрация</h1>
    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form" novalidate>
      <label class="field">
        <span class="field__label">Имя</span>
        <input class="field__input" formControlName="firstName">
      </label>

      <label class="field">
        <span class="field__label">Фамилия</span>
        <input class="field__input" formControlName="lastName">
      </label>

      <label class="field">
        <span class="field__label">E-mail</span>
        <input class="field__input" formControlName="email">
      </label>

      <label class="field">
        <span class="field__label">Пароль</span>
        <input class="field__input" formControlName="password" type="password">
      </label>



    </form>
  </div>
</section>
