<li class="folder-node-container">

  <div class="folder-node__item"
     (click)="selectFolder($event)"
     [style.padding-left.px]="level * 16"
     [class.selected]="folder.id === selectedFolderId">
    <span
      *ngIf="folder.children?.length"
      class="folder-node__expand"
      (click)="toggleBranch($event)">
        {{ isExpanded ? '▼' : '▶' }}
    </span>

    <span class="folder-node__title"> {{ folder.title }} </span>

    <span class="folder-node__actions" [class.show]="hoveredId === folder.id">
      <button class="icon-btn" (click)="addChild($event)" title="Создать">➕</button>
      <button class="icon-btn" (click)="editSelf($event)" title="Редактировать">✏️</button>
      <button class="icon-btn" (click)="deleteSelf($event)" title="Удалить">🗑</button>
    </span>
  </div>

  <ng-container
    *ngIf="folder.children?.length && isExpanded">
    <ul
      class="folder-node__children">

      <li
        *ngFor="let child of folder.children"
        app-folder-node
        [folder]="child"
        [level]="level + 1"
        [selectedFolderId]="selectedFolderId"
        [hoveredId]="hoveredId"
        (folderSelected)="folderSelected.emit($event)"
        (actionAdd)="actionAdd.emit($event)"
        (actionEdit)="actionEdit.emit($event)"
        (actionDelete)="actionDelete.emit($event)"
        (hoverIn)="hoverIn.emit($event)"
        (hoverOut)="hoverOut.emit($event)"
        >
      </li>

    </ul>
  </ng-container>

</li>
