<form [formGroup]="form" (ngSubmit)="submit()">
  <div *ngFor="let f of formFieldSchema" [ngSwitch]="f.type" class="mb-3">

    <!-- text / number ------------------------------------------------------>
    <ng-container *ngSwitchCase="'text'">
      <label>{{ f.label }}</label>
      <input [type]="f.type" [formControlName]="f.key" class="form-control" />
    </ng-container>

    <ng-container *ngSwitchCase="'number'">
      <label>{{ f.label }}</label>
      <input type="number" [formControlName]="f.key" class="form-control" />
    </ng-container>

    <!-- textarea ----------------------------------------------------------->
    <ng-container *ngSwitchCase="'textarea'">
      <label>{{ f.label }}</label>
      <textarea [formControlName]="f.key" rows="3" class="form-control"></textarea>
    </ng-container>

    <!-- select ------------------------------------------------------------->
    <ng-container *ngSwitchCase="'select'">
      <label>{{ f.label }}</label>
      <select [formControlName]="f.key" class="form-select">
        <option *ngFor="let opt of f.options" [ngValue]="opt.value">
          {{ opt.label }}
        </option>
      </select>
    </ng-container>

    <!-- checkbox ----------------------------------------------------------->
    <ng-container *ngSwitchCase="'checkbox'">
      <div class="form-check">
        <input type="checkbox"
               [formControlName]="f.key"
               class="form-check-input" id="{{f.key}}" />
        <label class="form-check-label" [for]="f.key">{{ f.label }}</label>
      </div>
    </ng-container>

    <!-- drag-n-drop файла -------------------------------------------------->
    <ng-container *ngSwitchCase="'file-drop'">
      <label>{{ f.label }}</label>
      <app-file-drop
        formControlName="f.key"
        [accept]="f.options?.[0]?.value">
      </app-file-drop>
    </ng-container>

    <!--    &lt;!&ndash; сортируемый массив -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
    <!--    <ng-container *ngSwitchCase="'array-dnd'">-->
    <!--      <label>{{ f.label }}</label>-->

    <!--      <app-dnd-list-->
    <!--        [items]="form.get(f.key)!.value"-->
    <!--        (itemsChange)="form.get(f.key)!.setValue($event)">-->
    <!--      </app-dnd-list>-->
    <!--    </ng-container>-->

  </div>

  <!-- футер -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Отмена</button>
    <button type="submit" class="btn btn-primary">{{ submitLabel }}</button>
  </div>
</form>
