<div class="dropdown" style="position: relative">
  <button
    type="button"
    class="btn btn-outline-primary btn-sm">
    (click)="isOpen = !isOpen"
    >
    {{ value ? formatItem(value) : placeholder }}
  </button>
  <ul
    class="dropdown-menu show"
    *ngIf="isOpen"
    style="display: block; position: absolute; z-index: 1000;"
    >
    <li
      *ngFor="let item of items">
      <button
        type="button"
        class="dropdown-item">
        {{ formatItem(item) }}
      </button>
    </li>
  </ul>
</div>
