:host {
  height: 100vh;
}

.dashboard-container {
  height: 100%;
}

.dash-content {
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.04);
  margin-left: calc(32px + var(--sidebar-width) + 20px);
  margin-top: 32px;
  margin-bottom: 32px;
  height: calc(100vh - 64px); // Учитываем отступы сверху и снизу
  transition: margin-left 0.25s ease;
}

.dashboard-container.sidebar-collapsed .dash-content {
  margin-left: calc(32px + var(--toggle-width) + 20px);
}
