<!-- row.component.html -->
<tr class="dynamic-row">
  <td class="cell checkbox-cell">
    <input
      type="checkbox"
      [checked]="isSelected"
      (change)="toggleSelect()"
    >
  </td>

  <td
    *ngFor="let col of columns"
    class="cell"
    [style.width]="col.width"
  >
    <ng-container [ngSwitch]="col.type">
      <span *ngSwitchCase="'text'">{{ row[col.key] }}</span>
      <span *ngSwitchCase="'datetime'">{{ row[col.key] | date:'short' }}</span>
      <span *ngSwitchCase="'status'">
        <span class="status-pill">{{ row[col.key] }}</span>
      </span>
      <span *ngSwitchDefault>{{ row[col.key] }}</span>
    </ng-container>
  </td>

  <td class="cell actions-cell">
    <button (click)="triggerAction()">⋮</button>
  </td>
</tr>
